<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>Back to Dashboard
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Client
  </div>
  <div class="card-body">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
      <div class="form-group">
        <label for="firstName" >First Name</label>
        <input 
          type="text"
          name="firstName"
          class="form-control"
          #clientFirstName="ngModel"
          [(ngModel)]="client.firstName"
          minlength="2"
          [ngClass]="{'is-invalid':clientFirstName.errors && clientFirstName.touched}"
          required
        >
        <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">First Name Require</div>
        <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">First Name Must be lest 2 char</div>
      </div>

      <div class="form-group">
          <label for="lastName" >Last Name</label>
          <input 
            type="text"
            name="lastName"
            class="form-control"
            #clientlastName="ngModel"
            [(ngModel)]="client.lastName"
            minlength="2"
            [ngClass]="{'is-invalid':clientlastName.errors && clientlastName.touched}"
            required
          >
          <div [hidden]="!clientlastName.errors?.required" class="invalid-feedback">Last Name Required</div>
          <div [hidden]="!clientlastName.errors?.minlength" class="invalid-feedback">Last Name Must be lest 2 char</div>
        </div>

        <div class="form-group">
            <label for="email" >Email</label>
            <input 
              type="text"
              name="email"
              class="form-control"
              #clientemail="ngModel"
              [(ngModel)]="client.email"
              pattern="^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$"
              [ngClass]="{'is-invalid':clientemail.errors && clientemail.touched}"
              required
            >
            <div [hidden]="!clientemail.errors?.required" class="invalid-feedback">Email Required</div>
            <div [hidden]="!clientemail.errors?.pattern" class="invalid-feedback">Email is not valid</div>
          </div>

          <div class="form-group">
              <label for="phone" >Phone</label>
              <input 
                type="tel"
                name="phone"
                class="form-control"
                #clientphone="ngModel"
                [(ngModel)]="client.phone"
                minlength="10"
                maxlength="10"
                [ngClass]="{'is-invalid':clientphone.errors && clientphone.touched}"
                required
              >
              <div [hidden]="!clientphone.errors?.required" class="invalid-feedback">Phone Required</div>
              <div [hidden]="!clientphone.errors?.minlength" class="invalid-feedback">Phone is not valid</div>
            </div>

            <div class="form-group">
                <label for="balance" >Balance</label>
                <input 
                  type="number"
                  name="balance"
                  class="form-control"
                  #clientbalance="ngModel"
                  [(ngModel)]="client.balance"
                  maxlength="10"
                  [disabled]="disableBalanceOnAdd"
                >
              </div>
              <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>